html, body {
    font-family: roboto, sans-serif;
    margin: 0;
    padding: 0;

}

body {
    background-color: #1f2937;     
    color: white;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding: 8px 128px;

}

ul {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}

.header-links {
    color: gray;
    font-size: small;
}

.header-logo {
    color: white;
    font-weight: 700;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex: auto;
    
}

.subsec1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    height: 25%;
    width: 50%;
    padding: 50px 0px;

}

.subsec2 {
    height: 25%;
    width: 50%;
    flex-wrap: wrap;
    padding: 50px 0px;
}

div > img {
    max-width: 100%;
    width: 100%;
    height: 300px;
}

.section-1 {
    display: flex;
    flex: 1; 
    padding: 0px 128px;

    
}

.main-text {
    font-size: 50px;
    font-weight: 900;
}

button {
    padding: 4px 16px;
    background-color: #3882f6;
    color: white;
    border-radius: 4px;
    border: none;
    margin-top: 5px;
}

.section-2 {
    background-color: white;
    display: flex;
    flex: 1; 
    padding: 0px 128px;
    flex-direction: column;
    align-items: center;

}

.section-2-title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 64px;
}

.box-container {
    display: flex;
    flex-direction: row;
    row-gap: 16px;
    column-gap: 42px;
    flex-wrap: wrap;
}

.media-box {
    border: 4px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 8px;
    flex: auto;
}

.media-text {
    color: #1f2937;
    width: 150px;
    flex: auto;
    line-height: 1.6;
}

.media {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
    gap: 16px;
}

.bird-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px;
}

.section-3 {
    background-color: #e5e7eb;
    display: flex;
    flex: 1; 
    padding: 150px 128px;
    flex-direction: column;
    align-items: center;

    justify-content: center;

}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 10;
}

.quote-end {
    font-size: 30px;
    color: #1f2937;
    font-weight: 900;
}

.ad {
    background-color: #3882f6;
    height: 100px;
    flex: 1;
    border-radius: 8px;
    display: flex;

}

.section-4 {
    background-color: white;
    display: flex;
    flex: auto; 
    padding: 0px 128px;
    height: 377px;
    align-items: center;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 2;
    padding-left: 120px;
}

.call-1 {
    color: white;
    font-size: 15px;
    font-weight: bolder;
}

.call-2 {
    color: white;
    font-size: 10px;
    font-weight: lighter;
}

.button {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

button {
    border: white solid 1px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    padding-left:128px;
    padding-right: 128px;
    padding-top: 8px;

}
